.modalCont {
  padding: 3.2rem;
  border-radius: 28px;
  background-color: var(--bg);
  border: 1px solid var(--bg-raised);
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 4.8rem);
  overflow-y: auto;
}
.loginContWidth {
  width: 40.3rem;
}
.modalCont .formHeader {
  display: flex;
  grid-area: 1.6rem;
  margin-bottom: 2.4rem;
  justify-content: space-between;
}
.modalCont .formHeader .titleCont {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.modalCont .formHeader .titleCont p {
  color: var(--text-secondary);
}
.modalCont .closeBtn {
  cursor: pointer;
  transition: 0.4s;
  align-self: baseline;
  outline: 1px solid transparent;
  border-radius: 50%;
}
.modalCont .closeBtn:hover {
  color: var(--error);
}
.modalCont .closeBtn:focus-visible {
  outline-color: var(--error);
  color: var(--error);
}
.modalCont form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}
.modalCont form .innerFormCont {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  width: 100%;
}

.modalCont .customBtn {
  width: 100%;
  max-height: 4.1rem;
}
.modalCont .logInCont {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-secondary);
}
.modalCont .logInCont span {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--error);
  transition: 0.4s;
  cursor: pointer;
  border: none;
  outline: none;
}
.modalCont .logInCont span:hover,
.modalCont .logInCont span:focus {
  color: var(--warning);
}
