.modalCont {
  padding: 3.2rem;
  border-radius: 28px;
  background-color: var(--bg);
  border: 1px solid var(--bg-raised);
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100vh - 4.8rem);
  overflow-y: auto;
}
.loginContWidth {
  width: 40.3rem;
}
.modalCont .formHeader {
  display: flex;
  grid-area: 1.6rem;
  margin-bottom: 2.4rem;
  justify-content: space-between;
}
.modalCont .formHeader .titleCont {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.modalCont .formHeader .titleCont p {
  color: var(--text-secondary);
}
.modalCont .closeBtn {
  cursor: pointer;
  transition: 0.4s;
  align-self: baseline;
  outline: 1px solid transparent;
  border-radius: 50%;
}
.modalCont .closeBtn:hover {
  color: var(--error);
}
.modalCont .closeBtn:focus-visible {
  outline-color: var(--error);
  color: var(--error);
}
.modalCont form {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}
.modalCont form .innerFormCont {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  width: 100%;
}

.modalCont .inputCont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.modalCont .inputCont label {
  width: fit-content;
  margin-bottom: 0.8rem;
}
.modalCont .inputCont input {
  border-radius: 12px;
  height: 4rem;
  border: 1px solid transparent;
  padding-inline: 1.6rem;
  background-color: var(--bg-card);
  color: var(--text-primary);
  outline: none;
  caret-color: var(--text-secondary);
  transition: 0.4s;
}
.modalCont .inputCont input:hover {
  border-color: var(--tint-white);
  caret-color: var(--text-primary);
}
.modalCont .inputCont input:hover::placeholder,
.modalCont .inputCont input:focus::placeholder {
  color: var(--text-primary);
}
.modalCont .inputCont input:focus {
  border-color: var(--text-disabled);
  caret-color: var(--text-primary);
}
.modalCont .inputWithIconCont:has(input:focus) .inputsIcon {
  color: var(--text-primary);
}
.modalCont .inputCont input::placeholder {
  color: var(--text-secondary);
  transition: 0.4s;
}

.modalCont .inputCont .error,
.modalCont .errorCont .error {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--error) !important;
  margin-top: 0.5rem;
  overflow: hidden;
}
.applyErrorCont {
  color: var(--error) !important;
  border-color: var(--error) !important;
  caret-color: var(--error) !important;
}
.modalCont .inputCont:has(.error) input,
.modalCont .inputCont:has(.error) input::placeholder,
.modalCont .inputCont:has(.error) label,
.modalCont .inputCont:has(.error) .inputsIcon {
  color: var(--error) !important;
  border-color: var(--error) !important;
  caret-color: var(--error) !important;
}
.modalCont .showError {
  animation: 0.4s showError ease forwards;
}
.modalCont .hideError {
  animation: 0.4s hideError ease forwards;
}
@keyframes showError {
  from {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
  }
  to {
    opacity: 1;
    max-height: 1.7rem;
    margin-top: 0.5rem;
  }
}
@keyframes hideError {
  from {
    opacity: 1;
    max-height: 1.7rem;
    margin-top: 0.5rem;
  }
  to {
    opacity: 0;
    max-height: 0;
    margin-top: 0;
  }
}
.modalCont .inputWithIconCont {
  position: relative;
  width: 100%;
}

.modalCont .inputWithIconCont input {
  width: 100%;
  padding-right: 4rem;
}
.modalCont .inputsIcon {
  color: var(--text-primary);
  transition: 0.4s;
}

.modalCont .inputsIcon:hover {
  color: var(--error);
}
.modalCont .inputsIcon {
  position: absolute;
  right: 1.6rem;
  top: 1.2rem;
  /* top: 50%;
  transform: translateY(-50%); */
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalCont .customBtn {
  width: 100%;
}
.modalCont .logInCont {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-secondary);
}
.modalCont .logInCont span {
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--error);
  transition: 0.4s;
  cursor: pointer;
  border: none;
  outline: none;
}
.modalCont .logInCont span:hover,
.modalCont .logInCont span:focus {
  color: var(--warning);
}
