.overlineText {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 6%;
}
.labelM {
  font-size: 1.4rem;
  font-weight: 600;
}

.labelS {
  font-size: 1.2rem;
  font-weight: 600;
}
.BodyL {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 130%;
}
.BodyM {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 130%;
}
.BodyS {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 130%;
}
.customBtn {
  font-size: 1.4rem;
  font-weight: 800;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 50rem;
  padding: 1.3rem 2.2rem;
  color: var(--text-primary);
  align-items: center;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
.btn-primary {
  background-color: var(--error);
}
.btn-primary:disabled {
  background-color: var(--text-disabled);
  color: var(--text-secondary);
}
.btn-secondary {
  background-color: var(--text-primary);
  color: var(--bg);
}
.btn-transparent {
  background-color: var(--tint-white);
}
.btn-transparent:hover,
.btn-transparent:focus-visible {
  background-color: var(--text-secondary);
  backdrop-filter: blur(44px);
}
.btn-transparent:disabled {
  background-color: var(--tint-white);
  opacity: 0.2;
}
.btn-notify {
  border: 1px solid var(--text-secondary);
  background-color: transparent;
}
.btn-notify:hover,
.btn-notify:focus-visible {
  background-color: var(--tint-white);
}

.avatarIcon {
  border-radius: 8px;
  width: 4rem;
  height: 4rem;
}
.green {
  background-color: var(--success);
}
.yellow {
  background-color: var(--warning);
}
.greenTint {
  background-color: var(--tint-green);
}
.warningTint {
  background-color: var(--tint-warning);
}
.warningText {
  color: var(--warning);
}
.errorText {
  color: var(--error);
}
.successText {
  color: var(--success);
}
.relative {
  position: relative;
}
.secondaryColor {
  color: var(--text-secondary);
}
.chevronRight {
  rotate: 180deg;
}
.uppercase {
  text-transform: uppercase;
}
.buttonText {
  font-size: 1.4rem;
  font-weight: 800;
}
