<button
  type="button"
  (click)="fileInput.click()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  @if (!selectedFile()) {
    <img src="upload.svg" alt="upload" />
  } @else {
    <img [src]="previewUrl()" alt="avatar" class="avatarIcon" />
  }
</button>
<label for="avatar" id="avatarLabel"
  >Upload avatar (optional) <span class="BodyS">JPG, PNG or WEBP</span></label
>

<input
  type="file"
  id="avatar"
  name="avatar"
  class="avatarInput"
  #fileInput
  (change)="onFileSelected($event)"
  accept=".jpg,.jpeg,.png,.webp"
/>
