header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 11.1rem;
  padding: 3rem 6rem 4rem 6rem;
  background: linear-gradient(
    180deg,
    #000000 -212.35%,
    rgba(0, 0, 0, 0.51) 32.09%,
    rgba(0, 0, 0, 0) 93.93%
  );
}

nav {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

nav .logoCont {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}
nav .logoCont .span {
  color: var(--error);
}

header .right {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

header .right label {
  display: flex;
  align-items: center;

  width: 38rem;
  height: 4.1rem;

  gap: 0.4rem;
  padding: 0.6rem 1.2rem;

  border-radius: 9999px;
  background-color: var(--tint-white);
}

header .right input {
  flex: 1;

  background: transparent;
  outline: none;

  border: none;

  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-primary);
}

header .right input::placeholder {
  color: var(--text-primary);
}

header .authBtns {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
